.footer {
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 10px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 100px;
}

.about-company {
  width: 40%;
}

.about-company h3{
  margin: 0;
}

.about-company p{
  margin-bottom: 40px;
}

.about-company .btn{
  text-decoration: none;
}

.contacts>div {
  display: flex;
  justify-content: start;
  align-items: center;
}

.contacts a {
  color: var(--text-color);
  text-decoration: none;
}

.contacts div i {
  margin-right: 20px;
}
