

.first-screen {
  background-color: var(--main-background);
  color: var(--text-color);
}

.main-text {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.slider {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 96%;
  border-radius: 13px;
}

.slide {
  display: none;
  height: 350px;
  position: absolute;
  transition: opacity 0.5s ease;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  display: block;
  position: relative;
  opacity: 1;
}

.slide img, .map-container iframe {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.slide-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: var(--dark-gray);
  padding: 20px;
  border-radius: 7px;
}

.slide-text h2 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
}

.slide-text p {
  margin: 0 0 10px 0;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  width: auto;
  padding: 16px;
  color: var(--text-color);
  background-color: var(--main-background);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border: none;
  border-radius: 7px;
  user-select: none;
  z-index: 10;
}

.prev {
  right: 80px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.6);
  color: var(--main-color);
}

.map-container {
  width: 100%;
  height: 100%;
}

.our-services {
  display: flex;
  padding: 20px 60px
}

.our-services__info {
  width: 50%;
}

.out-services__form-appointment {
  width: 40%;
  padding-left: 40px;
}

.out-services__form-appointment h2{
  text-align: center;
  margin-bottom: 40px;
}

.out-services__form-appointment p {
  text-align: center;
  margin-top: -15px;
  color: var(--dropdown-hover-background);
}

.out-services__form-appointment .btn:hover {
  background-color: var(--dark-gray);
  transition: all .3s ease-in-out;
  height: 109%;
  font-size: 115%;
}

.our-services__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-services__info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.our-services__info li {
  width: 50%; 
  list-style: none;
  width: 230px;
  margin-left: 15px;
}

.our-services__info li::before {
  content: '\2713';
  color: var(--main-color);
  margin-right: 10px;
  margin-left: -22px;
}

.our-prices {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 5vw;
  gap: 10px;
}

.price-item {
  width: 14vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--dropdown-background);
  color: var(--dark-gray);
  font-weight: 600;
  text-decoration: none;
  height: 150px;
  padding: 10px;
  transition: all .3s ease-in-out;
}

.price-item:hover {
  background-color: var(--dark-gray);
  transform: scale(1.02);
  color: var(--text-color);
}

.price-item img {
  height: 50%;
}

.price-item p {
  margin: 0;
  height: 20%;
}


.news-section {
  background-color: var(--main-background);
  color: var(--text-color);
  padding: 40px 20px;
  text-align: center;
}

.news-section__title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.news-section__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.news-item {
  background-color: var(--dropdown-background);
  color: var(--dark-gray);
  padding: 20px;
  padding-bottom: 30px;
  margin: 10px;
  border-radius: 8px;
  flex: 1 1 30%;
  box-sizing: border-box;
  min-width: 250px;
  position: relative;
}

.news-item__title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.news-item__description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.news-item__link {
  font-size: 0.9rem;
  color: var(--main-color);
  text-decoration: none;
}

.news-item__link:hover {
  text-decoration: underline;
}

.news-section__more {
  margin-top: 20px;
}

.news-section__more-link {
  font-size: 1rem;
  color: var(--main-color);
  text-decoration: none;
}

.news-item__date {
  font-size: 0.9rem;
  margin-bottom: 10px;
  position: absolute;
  right: 10px;
  bottom: -5px;
  color: var(--light-gray);
}